@font-face {
  font-family: "Geomanist Book";
  src: url("../fonts/geomanist/geomanist-book-webfont.ttf");
}

@font-face {
  font-family: "Geomanist Ultra";
  src: url("../fonts/geomanist/geomanist-ultra-webfont.ttf");
}

body {
  background-color: #edd790;
  color: #fbfbfb;
  font-family: "Geomanist Book";
  font-size: 20px;
  line-height: 1.6;
  text-align: right;
}

.container {
  margin-top: 20px;
}

.big {
  font-family: "Geomanist Ultra";
}
