@font-face {
  font-family: "Geomanist Book";
  src: url("../fonts/geomanist/geomanist-book-webfont.ttf");
}

@font-face {
  font-family: "Geomanist Ultra";
  src: url("../fonts/geomanist/geomanist-ultra-webfont.ttf");
}

body {
  background-color: #17AF84;
  color: #fbfbfb;
  font-family: "Geomanist Book";
  font-size: 28px;
  line-height: 1.8;
  text-align: right;
}

.container {
  margin-top: 20px;
}

.big {
  font-family: "Geomanist Ultra";
}

a {
  color: #17AF84;
  background-color: #fbfbfb;
}
