
.banner {
  font-family: $geomanist-ultra;
  line-height: 1.8;
  font-size: 96px;
}

.subtitle {
  font-family: $geomanist-extralight;
  font-size: 40px;
}

strong, h3 {
  font-family: $geomanist-bold;
}

body {
  font-family: $geomanist-regular;
  font-size: 18px;
  line-height: 1.8;
}

.carousel-item {
  img {
    width: 100%;
  }
}

.carousel-indicators {
  bottom: 0;
}
