
.banner {
  font-family: $geomanist-ultra;
  line-height: 1.8;
  font-size: 96px;
}

.subtitle {
  font-family: $geomanist-extralight;
  font-size: 40px;
}

strong, h3 {
  font-family: $geomanist-bold;
}

body {
  font-family: $geomanist-regular;
  font-size: 18px;
  line-height: 1.8;
}

.carousel {
  margin-bottom: 30px;
}

.carousel-item {
  img {
    width: 100%;
  }
}

.carousel-indicators {
  bottom: 0;
  li {
    border-color: #222;
    background-color: rgba(0,0,0,0);
  }
  .active {
    background-color: #222;
  }
}

.carousel-caption {
  font-family: $geomanist-bold;
  text-shadow: none;
  h3 {
    color: #222;
  }
}
