
.banner {
  font-family: $geomanist-ultra;
  line-height: 1.8;
  font-size: 96px;
}

.subtitle {
  font-family: $geomanist-extralight;
  font-size: 40px;
}

.bg {
  background-size: cover;
  background-position: center;
  height: 600px;
}

strong {
  font-family: $geomanist-bold;
}

body {
  font-family: $geomanist-regular;
  font-size: 18px;
  line-height: 1.8;
}
